@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Space Grotesk Bold";
    src: url("./assets/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Space Grotesk Light";
    src: url("./assets/fonts/SpaceGrotesk-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Space Grotesk Medium";
    src: url("./assets/fonts/SpaceGrotesk-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Space Grotesk Regular";
    src: url("./assets/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Space Grotesk SemiBold";
    src: url("./assets/fonts/SpaceGrotesk-SemiBold.ttf") format("truetype");
  }
  :root {
    color: #000000;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1 {
    @apply text-[43px] leading-[54px] tablet:text-6xl tablet:leading-[76px] font-medium;
  }
  h2 {
    @apply text-[36px] leading-[45px] tablet:text-4xl tablet:leading-[50px] font-medium;
  }
  h3 {
    @apply text-3xl font-medium;
  }
  h4 {
    @apply text-xl font-medium;
  }
  p {
    @apply text-[16px] leading-[24px] tablet:text-lg tablet:leading-6 font-regular;
  }
  label {
    @apply font-regular;
  }
  button {
    @apply rounded-2xl text-lg font-regular;
    cursor: pointer;
  }
}

@layer components {
  .card {
    @apply border border-solid border-black rounded-[45px] shadow-bottom;
  }
}

@layer utilities {
  .highlight-green {
    @apply bg-p-green px-2 rounded-lg;
  }
  .highlight-grey {
    @apply bg-p-grey px-2 rounded-lg;
  }
}
